* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1f1f1f;
    color: #909090;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.icons{
    color: #909090;
    display: inline;
    font-size: x-large;
    margin-right: 3.2px;
}

/* Header */

header {
    display: flex;
}

#home_icon {
    width: 200px;
}

.Navigation {
    display: inline;
    color: #909090;
    margin-left: 3.2px;
    margin-right: 3.2px;
}

/* End Header */

/* Main */

#First_Project_image {
    width: 400px;
}

#My_projects{
    color: white;
}

#Firt_project {
    color: white;
}

span {
    color: white;
    font-weight: 600;
}

/* End Main */

/* Footer */

fieldset {
    width: 600px;
}

.Form_footer {
    display: flex;
}

.form_input {
    display: block;
    min-width: 600px;
}

.form_text {
    display: block;
}

.form_label {
    display: block;
    font-size: small;
}

.name_email_input div {
    display: inline-block;
}

.name_input {
    background-color: red;
    box-sizing: border-box;
    width: 50%;
}

.name_input > input {
    width: 100%;
}

.email_input {
    background-color: blue;
    box-sizing: border-box;
    width: 49%;
}
.email_input > input {
    width: 100%;
}

.message_input {
    background-color: yellow;
    width: 100%;
}
.message_input > input {
    width: 100%;
}

legend {
    color: white;
    font-size: xx-large;
}

.footer_icons {
    display: inline;
    height: 65px;
    width: 512px;
}

/* End Footer */
