* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #909090;
}

body {  
    background-color: #1F1F1F;
    width: 100%;
    min-height: 100vh;    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #909090;
}

b {
    color: white;
}

h1 {
    color: white;
}
h2 {
    color: white;
}

.icons {
    color: #909090;
    display: inline;
    font-size: 1.7rem;
    margin-right: 5px;
    margin-left: 5px;
}

/* ANIMATIONS ------------------------------------------------------ */

.troll_face {
    animation: girar 2s linear infinite;
}
#linkedin:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}
#github:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}
#instagram:hover  {
    animation: girar 1s cubic-bezier(0.02, 0.27, 0.25, 0.83);
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* END ANIMATIONS ----------------------------------------------------- */

/* Header ------------------------------------------------------*/

header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: #1F1F1F;
}

.header_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home_icon_img {
    width: 50px;
    margin: 25px 0px 25px 0px;
}

.navigation_list_iten {
    display: inline;
    margin: 0px 10px 0px 10px;
    font-size: 1.2rem;
}

/* End Header -------------------------------------------------------*/

/* Main --------------------------------------------------------------*/

/*  ---------------------- About ------------------------------ */

.about_container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 50px 50px 50px;
    padding-top: 100px;
}

.main_title > h1 {
    font-size: 2.5rem;
    width: 50vw;
}

.about_text {
    max-width: 600px;
}

/* ------------------- Experience --------------------- */

.experience_container {
    margin: 50px 50px 50px 50px;
    padding-top: 100px;
}

.empresas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.empresa_1_container {
    margin: 40px 0px 40px 0px;
    max-width: 600px;
}

.experience_list_1 {
    list-style: "> ";
}

.empresa_2_container {
    margin: 40px 0px 40px 0px;
    max-width: 600px;
}

.experience_list_2 {
    list-style: "> ";
}

/* --------------------- Development ---------------------- */

.development_container {
    margin: 50px 50px 50px 50px;
    padding-top: 100px;
}

.development_things {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 50px 50px 50px;
}

#back_button {
    font-size: 1.5rem;
    color: white;
    border: none;
}

#foward_button {
    font-size: 1.5rem;
    color: white;
    border: none;
}

.development_image {
    width: 300px;
}

.project_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project_1 {
    max-width: 400px;
}
.project_2 {
    max-width: 400px;
}
.project_3 {
    max-width: 400px;
}

/* ---------------------------- Design ---------------------------------------- */

.design_container {
    margin: 50px 50px 50px 50px;
    padding-top: 100px;
}

.design_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.design_1_description {
    max-width: 400px;
}

#cavalo_gif {
    width: 500px;
}

.design_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.design_2_description {
    max-width: 400px;
}

#monkey_fall_gif {
    width: 500px;
}

/* ---------------------------- Extracurricular------------------------------- */

.extracurriculars_container {
    margin: 50px 50px 50px 50px;
    padding-top: 100px;
}

.empresa_com_icone {
    display: flex;
    align-items: center;
}

.empresa_listas_container {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 50px 0px;
}

.lista_da_empresa {
    list-style: "> ";
}

.troll_face {
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

/* End Main ----------------------------------------------------------*/

/* Footer -----------------------------------------------------------------*/

fieldset { 
    border: white;
}

legend {
    color: white;
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.form_footer {
    display: flex;

    justify-content: space-evenly;
    margin: 0px 50px 0px 50px;
    padding-top: 100px;
}

.form_input {
    display: inline;
    margin: 0px 10px 0px 10px;
}

.form_info {
    min-width: 400px;
}

.name_email_container {
    display: inline;
    box-sizing: border-box;
    margin: 20px 0px 20px 0px;
}


.name_input_container {
    display: inline-block;
    width: 28%;
}

#name_title {
    display: block;
    font-size: 0.8rem;
}

#name_input {
    display: block;
    width: 100%;
}

.email_input_container {
    display: inline-block;
    width: 70%;
    margin: 20px 0px 20px 0px;
}

#email_title {
    display: block;
    font-size: 0.8rem;
}

#email_input {
    display: block;
    width: 100%;
}

#message_title {
    display: block;
    font-size: 0.8rem;
}

#message_input {
    display: block;
    width: 100%;
}

.message_button_container {
    display: block;
}

#button {
    width: 100%;
    background-color: #909090;
    border: none;
    margin: 15px 0px 15px 0px;
    padding: 8px 0px 8px 0px;
}

.form_text {
    display: inline;
    margin: 0px 10px 0px 10px;
}

.year_developed {
    margin: 50px 50px 0px 50px;
}

/* End Footer ---------------------------------------------------------*/
