body {
    background-color: #1f1f1f;
    color: #909090;
    ;
    font-family: "Poppins", sans-serif;
}

.icons{
    color: #909090;
    display: inline;
    font-size: x-large;
    margin-right: 3.2px;
}

/* Header */

header {
    display: flex;
}

#home_icon {
    width: 200px;
}

.Navigation {
    display: inline;
    color: #909090;
    margin-left: 3.2px;
    margin-right: 3.2px;
}

/* End Header */

/* Main */

#First_Project_image {
    width: 400px;
}

#My_projects{
    color: white;
}

#Firt_project {
    color: white;
}

span {
    color: white;
    font-weight: 600;
}

/* End Main */

/* Footer */

.Form_footer {
    display: flex;
}

.form_input {
    display: block;
    margin-right: 50px;

}

.form_text {
    display: block;
}

.form_label {
    font-size: small;
}

legend {
    color: white;
    font-size: xx-large;
}

.footer_icons {
    display: inline;
    height: 65px;
    width: 512px;
}

/* End Footer */
